body{
  font-family: Arial;
  margin:0;
  background:#f2f6f3;
}
header{
  background:#0b5e3c;
  color:white;
  padding:20px;
  text-align:center;
}
.container{
  width:90%;
  margin:auto;
}
.book{
  background:white;
  margin:15px 0;
  padding:15px;
  border-radius:8px;
}
.book h3{
  color:#0b5e3c;
}
a{
  margin-right:10px;
  text-decoration:none;
  font-weight:bold;
  color:#0b5e3c;
}
footer{
  text-align:center;
  padding:10px;
}
